/* *{
    background-color:yellow;
}


body{
  background:linear-gradient(to left, green, white);
  margin:0;
  padding:0;
  box-sizing:border-box;
  color:white;
}


.div{
  display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    width:100%;
}

button{
  margin-top:40px;
  margin-bottom:10px;
} */

@media all and (min-width: 480px) {
  .Login {
    padding: 60px 0;
  }

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
}